<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/Layout">
 <head>
 <meta charset="UTF-8" />
 <title>Edit Product</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/MyStyle.css"
th:href="@{/css/MyStyle.css}"/>
</head>
<style>
body{
background-color:#ECF2FF;
}
h2{
color:#060047;
text-align:center;
margin-top:50px;
margin-bottom:70px;
}
</style>
<body>


<div class="container">
	<div class="row mt-5">
		<h2>Edit Product</h2>
	</div>
	<div class="d-flex justify-content-center">
		<form th:action="@{/produits}" method="post" th:object="${produit}">
			  <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label"  >Reference</label>
			    <input type="text" class="form-control" th:field="*{reference}">
			  </div>
			 <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Designation</label>
			    <input type="text" class="form-control" th:field="*{designation}">
			  </div>
			   <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Prix</label>
			    <input type="text" class="form-control" th:field="*{prix}">
			  </div>
			   <div class="mb-3">
			    <label for="exampleInputEmail1" class="form-label">Quantite</label>
			    <input type="text" class="form-control" th:field="*{quantite}">
			  </div>
			  <button type="submit" class="btn btn-primary">Add</button>
		</form>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

